# NodeJS Files
node_modules/*
*/node_modules/*

# Config Files
config.js
.env

# GitPod Files
.gitpod.yml

# Replit Files
.replit
replit.nix

# Giveaways File
giveaways.json

# Other Files
*.disabled
*.old
ignore/*
.cache/*
Corebot/*