[submodule "byte-kakairodiscord-akairo"]
	path = byte-akairo/discord-akairo
	url = https://github.com/discord-akairo/discord-akairo
[submodule "lib/panel"]
	path = lib/panel
	url = https://github.com/SanjaySunil/BetterDiscordPanel
