# NodeJS Files
node_modules/*
nodemon.json

# Config Files
config.js
config.old.js
.env

# GitPod Files
.gitpod.yml

# VS Code Files
.vscode

# Replit Files
.replit
replit.nix

# Giveaways File
giveaways.json

# Other Files
*.disabled
*.old
ignore/*
.cache/*
Corebot/*

*ignore*